.card {
  max-width: 600px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.col-hidden {
  display: none
}

.resizing-text-18-26 {
  font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.resizing-text-14-20 {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}
