.card {
  max-width: 500px;
  min-width: 500px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.col-hidden {
  display: none
}

.resizing-text-large {
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.resizing-text-medium {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}
